@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'NEXON Lv1 Gothic OTF';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  color: #ffffff;
}

h1, h3 {
  font-family: 'NEXON Lv2 Gothic Bold';
  text-align: center;
}

.title {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #000000;
}

#Nevigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background-color: #ee88aa;
  color: #ffffff;
  font-size: 15px;
}

#Nevigation .name {
  position: relative;
  top: 30%;
}

#Nevigation .menu button {
  margin: 10px 10px;
  font-size: 15px;
}

.home_btn {
  border: 1px solid #ffffff;
  border-radius: 5%;
}

.home_btn:hover {
  opacity: 0.9;
  background-color: white;
  color: #ee88aa;
}

.profile_btn, .info_btn, .favorite_btn, .skills_btn, .project_btn {
  position: relative;
}

.profile_btn:hover:before, .info_btn:hover:before, .favorite_btn:hover:before, .skills_btn:hover:before, .project_btn:hover:before {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.profile_btn:before, .info_btn:before, .favorite_btn:before, .skills_btn:before, .project_btn:before {
  content: "";
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 20px;
  height: 2px;
  left: 0;
  bottom: -0px;
  background: white;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);
}

header {
  padding: 120px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee88aa), to(#F9F5F0));
  background: linear-gradient(#ee88aa, #F9F5F0);
  color: #ffffff;
  text-align: center;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 120px;
  color: #000000;
  background-color: #F9F5F0;
  border-radius: 5% / 15%;
}

.profile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 40px 20px;
}

.profile .greeting {
  margin-top: 10%;
  line-height: 1.2;
  text-align: center;
}

.profile .greeting .hello {
  font-family: 'NEXON Lv2 Gothic Bold';
}

.profile .greeting .detail {
  border-top: 1px solid #909090;
  padding-top: 20px;
}

.info {
  margin: 20px 120px;
  margin-left: 300px;
  text-align: center;
  line-height: 3;
}

.info .birth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 80px;
}

.info .birth span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-align: left;
  border-right: 1px solid #e0e0e0;
}

.info .birth .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

.info .univ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 144px;
  line-height: 1.5;
}

.info .univ span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-align: left;
  border-right: 1px solid #e0e0e0;
}

.info .univ .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

.info .univ .item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 3;
}

.info .contact span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  text-align: left;
  border-right: 1px solid #e0e0e0;
}

.info .contact .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

.info .contact .item li a {
  color: #000000;
  text-decoration: none;
}

.info .contact .item #email:hover {
  text-decoration: underline;
  color: blue;
}

.info .contact .item #instagram:hover {
  text-decoration: underline;
  color: blue;
}

.info .contact .item #git:hover {
  text-decoration: underline;
  color: blue;
}

.favorite {
  margin: 20px 60px;
  text-align: center;
}

.favorite ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.favorite .item {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.favorite .detail li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.favorite i {
  width: 250px;
  height: 250px;
  background-color: #F9F5F0;
  border-radius: 50%;
  font-size: 100px;
  color: #ee88aa;
}

@media screen and (max-width: 800px) {
  .profile {
    margin: 20px 0;
    border-radius: 0%;
    white-space: pre-line;
  }
  .profile .greeting {
    margin-top: 4%;
  }
  .info {
    margin: 20px 20px;
  }
  .info .univ {
    height: 240px;
  }
  .info .univ .item {
    white-space: pre-line;
  }
  .favorite {
    margin: 20px 20px;
  }
  .favorite .item li {
    width: 150px;
    height: 150px;
  }
  .favorite i {
    font-size: 50px;
  }
}
/*# sourceMappingURL=style.css.map */